/counter/node_modules
/counter-vanilla/node_modules
/redux-counter/node_modules
/react-redux-counter/node_modules
/shopping-cart/node_modules
/shopping-cart-react-mobx/node_modules
/shopping-cart-react-redux/node_modules